[workspace]
channels = ["https://conda.modular.com/max-nightly", "conda-forge"]
name = "max-gpt2"
platforms = ["linux-64", "osx-arm64"]
version = "0.1.0"

[tasks]
build-book = "cd book && mdbook build"
book = { cmd = "cd book && mdbook serve --open", depends-on = ["build-book"] }

huggingface = "python scripts/hugging-face-model.py"

# Test tasks for each step
s01 = "python tests/test.step_01.py"
s02 = "python tests/test.step_02.py"
s03 = "python tests/test.step_03.py"
s04 = "python tests/test.step_04.py"
s05 = "python tests/test.step_05.py"
s06 = "python tests/test.step_06.py"
s07 = "python tests/test.step_07.py"
s08 = "python tests/test.step_08.py"
s09 = "python tests/test.step_09.py"
s10 = "python tests/test.step_10.py"

# Run all tests
test-all = "python -m pytest tests/"

# Format python
fmt = "ruff format ."
fmt-docs = "blacken-docs book/src/*"

[dependencies]
modular = "25.7.*"
transformers = ">=4.57.0,<5"
pytorch = ">=2.8.0,<3"
numpy = ">=2.3.3,<3"
mdbook = ">=0.4.0"
ruff = ">=0.14.1,<0.15"
blacken-docs = ">=1.20.0,<2"
